<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta

      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Xpeed Pos!</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
